@mixin input-response($color){
  color: $color;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
}

@mixin basic-button{
  width: 2rem;
  height: 2rem;
  border-radius: 15%;
  background-size: cover;
}

html{
  scroll-behavior: smooth;
}

@media(max-width:699px){
  #SearchBar{
    display: block;
    width: 90% !important;
  }
  .w-75{
    width: 100% !important;
  }
}

@media(min-width:700px){
  #SearchBar{
    display: inline-block;
  }
}

#app {
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 10px;
  background-color:$global-color;
  width: 100vw;
  z-index: 100;
  position: fixed;
}

.site-content{
  padding-top: calc(2rem + 60px);
  z-index: 10;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.cursor-pointer{
  cursor: pointer !important;
}

.cursor-default{
  cursor: default !important;
}

.custom-input{
  height: 1.5rem !important;
  width: calc(100% - 2rem) !important;
}

.custom-input-button{
  width: 1.5rem !important;
  background-image: url($search_icon);
  background-repeat: round;
  background-color: khaki;
}

.carousel-slide{
  max-width: 100%;
  display:none;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.active{
  display: flex !important;
}

.carousel-item img{
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
  max-height: 100% !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border-radius: 50%;
  background-size: contain;
}

.input-error{
  @include input-response($global-error);
}

.input-success{
  @include input-response($global-color);
}

.invisible{
  display: none;
}